body {

    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-bottom: 30px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 20px;
}

h1 {
    color: #1B5E20;
    font-size: 2.2em;
    margin-bottom: 15px;
}

h2,
h3 {
    color: #2E7D32;
    margin-top: 30px;
}

.content {
    margin-bottom: 40px;
}

/* ul {
    padding-right: 20px;
}

li {
    margin-bottom: 15px;
} */

.closing {
    background-color: #E8F5E9;
    padding: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.table-of-contents {
    background-color: #F1F8E9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.table-of-contents ul {
    list-style-type: none;
}

.cta-box {
    background-color: #DCEDC8;
    padding: 20px;
    border-radius: 5px;
    margin: 30px 0;
    text-align: center;
}

.hadith {
    font-style: italic;
    background-color: #F9FBE7;
    padding: 15px;
    border-right: 4px solid #8BC34A;
    margin: 20px 0;
}